<!--
    
    
    <form [formGroup]="formularioProduto">
    formControlName = algum atributo que foi construido para o formulário
    <input type="text" formControlName="name">
    <input type="text" formControlName="description">
    <input type="text" formControlName="code">
    <input type="number" formControlName="costPrice">
    <input type="number" formControlName="salePrice">
    <input type="text" formControlName="preparationTime">
    <select formControlName="productType">
        <option *ngFor="let item of products" [value]="item">{{item}}</option>
    </select>
    <button type="submit" (click)="enviarFormulario()">SALVAR</button>
</form>

expression sempre vai ser um atributo da nossa classe (neste caso o "mostrar")
<div>
<button (click)="aparecerH5()">mostra ou não mostra</button>
<h5> Condição do meu ngIf: {{mostrar}}</h5>
<h5 *ngIf="mostrar">Teste com ngIf</h5>
</div>

<div class="example-button-container">
    <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
      <mat-icon>bookmark</mat-icon>
    </button>
</div>

-->

<mat-card>
        <form class="example-form" [formGroup]="formularioProduto">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Code</mat-label>
                        <input matInput type="text" formControlName="code">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="name">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <input matInput type="text" formControlName="description">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Preparation Time</mat-label>
                        <input matInput type="text" formControlName="preparationTime">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Cost Price</mat-label>
                        <input matInput type="number" formControlName="costPrice">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="example-full-width">
                        <mat-label>Sale Price</mat-label>
                        <input matInput type="number" formControlName="salePrice">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                      <mat-form-field appearance="fill">
                        <mat-label>Product Type</mat-label>
                        <mat-select >
                          <mat-option *ngFor="let type of products" [value]="type">
                            {{type}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                </tr>
            </table>
            <div class="example-button-container">
                <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon" type="submit" (click)="enviarFormulario()">
                  <mat-icon>bookmark</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
