*{
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: beige;
}

form{
    width: 300px;
    height: 300px;
}

button{
    margin-top: auto;
    padding: 05%;
}

